{% extends "master.html" %}

{% block title %}
William & Jialin
{% endblock %}

{% block body %}  

    <div class="container-fluid">
      <div class="jumbotron">
	<h1 class="text-center bg-primary" id="heading"><b>William Yang and Jialin Ke</b></h1>
	<h3 class="text-center">for President and Vice President of the United States</h3>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-6">
	  <img src="static/william.jpg" class="image-rounded" alt="William Yang" height="500">
	</div>
	<div class="col-sm-6">
	  <img src="static/jialin.jpg" class="image-rounded" alt="Jialin Ke" height="500"
      </div>
    </div>
      
{% endblock %}
